<center><p style="width:500px;">Если Вам нужно, по какой то причине связаться со мной, то Вы можете это сделать через форму обратной связи, которую Вы видите ниже.</p></center><br>
<form action="index.php?contact=1" method="post" name="form2">
<input style="width:500px;" name="author_contact" type="text" placeholder="Введите ник*" value="">
<br>
<input style="width:500px;" name="email_contact" type="text" placeholder="E-mail*" value="">
<br>
<input style="width:500px;" name="site_contact" type="text" placeholder="Ваш сайт" value="">
<br>
<input style="width:500px;" name="subj_contact" type="text" placeholder="Тема* value="">
<br>
<textarea style="width:500px;" name="txt_contact" rows="10" placeholder="Введите текст*"></textarea>
<br>
<p><input type="submit" value="Отправить сообщение"></p>
</form>

