<table width="600px" cellpadding="0" cellspacing="0" border="0" align="center">
    <tr>
        <td width="100px" height="100px" valign="top" align="center">		
        <form action="?page=edd_content" method="post" name="form">
            <input name="edd_id_post" type="hidden" value="[_id]">
            <br>
            <input style="width:600px;" name="edd_name_post" type="text" value="[_title]">
            <br>
            <textarea style="width:600px;height:600px;" id="txt_post" name="edd_txt_post" rows="10">[_text]</textarea>
            <input style="width:600px;" name="edd_author_post" type="text" value="[_author]">
            <br>
            <br><br><input type="submit" value="Редактировать пост">
        </form>		
        </td>
    </tr>
</table>


