[_user_name], добро пожаловать в личный кабинет,<br>
<a href="exit.php">(Выход)</a><br><br>
<ul>
<span>Сообщения</span>
	<li>Написать сообщение</li>
	<li>Мои диалоги</li>

	
<span>Посты</span>
	<li><a href="?page=add_content">Написать пост</a></li>
	<li><a href="?page=my_content">Мои посты</a></li>
	<li>Избранные посты</li>
	
<span>События</span>
	<li>Создать событие</li>
	<li>Мои события</li>
	<li>Избранные события</li>
	
<span>Профиль</span>
	<li><a href="?page=pers_data">Персональные данные</a></li>	
	<li>Аватар</li>
	<li>Пароль</li>
	
[_menu_admin]	

</ul>

