<form action="?page=pers_data" method="post" name="form">
	<input name="edd_id" type="hidden" value="[_id]">
	<br><br>
	Никнейм: <input name="edd_nik" type="text" value="[_nik]">
	<br><br>
	Настоящее имя:<input name="edd_name" type="text" value="[_name]">
	<br><br>
	Пол	<select name="edd_sex">
	<option value="0">Не выбрано</option>
	[_option]
	</select>
	<br><br>
	Дата рождения: <input name="edd_bdate" type="text" value="[_bdate]">
	<br><br>
	Город: <input name="edd_city" type="text" value="[_city]">
	<br><br>
	Страна: <input name="edd_country" type="text" value="[_country]">
	<br><br>
	О себе: <input name="edd_about" type="text" value="[_about]">
	<br><br>
	ICQ: <input name="edd_icq" type="text" value="[_icq]">
	<br><br>
	Skype: <input name="edd_skype" type="text" value="[_skype]">
	<br><br>
	Vkontakte: <input name="edd_vk" type="text" value="[_vk]">
	<br><br>
	Twitter: <input name="edd_twit" type="text" value="[_twit]">
	<br><br>
	Phone: <input name="edd_phone" type="text" value="[_phone]">
	<br><br>
	<input type="submit" value="Сохранить изменения">
</form>	